# Need hd_media initrd or it won't search for the iso file
# Would like to find a boot parameter or something that would let the normal initrd
# do that, but it seems unlikely. I'll pull apart the initrd later to see how it works.
#
# Additionally, even with hd_media initrd it searches all drives and only a few
# folders deep. Ideally I would be able to pass the uuid and path via a boot parameter.

set gui="y"
set de="gnome"
set mode="Normal"
set folder="/binaries/hd/debian-current-hd_media/"

if cpuid -l; then
  set arch="x86_64"
else
  set arch="i386"
fi

echo "Debian netinstall Defaults"
echo -e "Architecture:\t\t$arch"
echo -e "Desktop environment:\t$de"
echo -ne "Use GUI:\t\t"
if [ x$gui = xy ]; then
  echo "Yes"
else
  echo "No"
fi
msg "Install mode:\t\t$mode"

menuentry "Run" {
  if [ x$gui = xy ]; then
    set gtk="/gtk"
    set vmode="video=vesa:ywrap,mtrr"
  else
    set gtk=""
    set vmode=""
  fi

  if [ $mode = "Normal" ]; then
    set rmode=""
    set quiet="quiet"
  elif [ $mode = "Expert" ]; then
    set rmode="priority=low"
    set quiet=""
  else
    set rmode="auto=true priority=critical"
    set quiet="quiet"
  fi

  linux ${folder}${arch}/vmlinuz desktop=$de $rmode $vmode vga=788 -- $quiet
  initrd ${folder}${arch}${gtk}/initrd.gz
}

menuentry "Print current options" {
  echo "Debian netinstall"
  echo -e "Architecture:\t\t$arch"
  echo -e "Desktop environment:\t$de"

  echo -ne "Use GUI:\t\t"
  if [ x$gui = xy ]; then
    echo "Yes"
  else
    echo "No"
  fi

  msg "Install mode:\t\t$mode"
}

menuentry "Toggle architecture" {
  if [ $arch = "i386" ]; then
    set arch="x86_64"
  else
    set arch="i386"
  fi

  msg "Architecture:\t\t$arch"
}

menuentry "Toggle GUI" {
  if [ x$gui = xy ]; then
    set gui="n"
    msg "Use GUI:\t\tNo"
  else
    set gui="y"
    msg "Use GUI:\t\tYes"
  fi
}

menuentry "Normal install" {
  set mode="Normal"
  msg "Install mode:\t\t$mode"
}

menuentry "Expert install" {
  set mode="Expert"
  msg "Install mode:\t\t$mode"
}

menuentry "Automated install" {
  set mode="Automated"
  msg "Install mode:\t\t$mode"
}

menuentry "Xfce" {
  set de="xfce"
  msg "Desktop environment:\t$de"
}
menuentry "KDE" {
  set de="kde"
  msg "Desktop environment:\t$de"
}
menuentry "Gnome" {
  set de="gnome"
  msg "Desktop environment:\t$de"
}
menuentry "Lxde" {
  set de="lxde"
  msg "Desktop environment:\t$de"
}
